@import url("https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap");
@font-face {
  font-family: "BlenderPro";
  src: url("/fonts/BlenderPro-Medium.eot");
  src: local("‚ò∫"), url("/fonts/BlenderPro-Medium.woff2") format("woff2"),
    url("/fonts/BlenderPro-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

header > .links
    #algolia-search-input
        border-radius: 6px;
        border: none;
        background-color: #fdfdfdc4;

.sidebar
    border-right: none;
.sidebar > .sidebar-links > li > a.sidebar-link
    text-transform: uppercase;
    font-family: "BlenderPro", sans-serif;
    font-weight: 500 !important;
    color: #7a55a5 !important;

.sidebar > .sidebar-links > li > a.sidebar-link.active
    background: #8080801c;
    border-radius: 0rem 1rem 1rem 0rem;
    // width: fit-content;
    // padding-right: 3rem;

.sidebar-sub-header > .active.sidebar-link
    color: #252222;

.sidebar-sub-header > .sidebar-link
    font-family: "Nunito Sans", sans-serif;
    color: #00000080;

html
    overflow:   scroll;

::-webkit-scrollbar
    width: 0px;
    background: transparent; /* make scrollbar transparent */

body
    font-family: "Nunito Sans", sans-serif;

h1, h2, h3, h4, .site-name
    font-weight: normal !important;
    font-family: "BlenderPro", sans-serif;

