@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:500,600&display=swap");
@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');
a
    font-weight: bold !important;

.navbar
    border: none;
    padding-left: 5rem;
    filter: drop-shadow(1px 1px 2px #00000025);

header > .links
    #algolia-search-input
        border-radius: 6px;
        border: none;
        background-color: #273054;
        color: white;
    #algolia-search-input:focus
        background-color: rgb(53, 64, 107);
.sidebar
    border-right: none;
    overflow:   scroll;
    overflow-x: hidden;
    //background: rgb(249, 251, 254);
    background: #f6f7fd;


@media (max-width: 719px) {
    .sidebar {
        filter: drop-shadow(1px 1px 2px #00000025);
    }
}

.sidebar::-webkit-scrollbar
    width: 9px;
    background: transparent; /* make scrollbar transparent */
.sidebar:hover::-webkit-scrollbar-thumb:vertical
    background: rgba(45, 40, 51, 0.1);
    border-radius: 1rem;
    
.sidebar > .sidebar-links > li > a.sidebar-link
    font-family: "Nunito Sans", sans-serif;
    font-weight: 600 !important;
    color: #151828;

.sidebar > .sidebar-links > li > a.sidebar-link.active
    // background: #8080801c;
    color: #3c56b1 !important;
    // border-radius: 0rem 1rem 1rem 0rem;
    // width: fit-content;
    // padding-right: 3rem;

.sidebar-sub-header > .active.sidebar-link
    color: #252222;
    font-weight: 600 !important;

.sidebar-sub-header > .sidebar-link
    font-family: "Nunito Sans", sans-serif;
    font-weight: normal !important;
    color: #00000080;
body
    font-family: "Nunito Sans", sans-serif;
    // background: rgb(249, 251, 254);
    background: #f6f7fd;
.site-name
    margin-top: 0.2rem;

h1, h2, h3, h4, .site-name
    font-family: "Nunito Sans", sans-serif;

img:not(.no-shadow)
    // filter: drop-shadow(1px 1px 2px #00000025);
    // border-radius: 5px;
    // box-shadow: 9px 10px 15px 6px rgba(0,0,0,0.46)
    // margin: 20px;

.custom-block.tip
    border-color: #384986;


.avg-reading-time
    margin-top: -1rem;
    font-size: 0.8em;
    color: grey;
