// showing default values
$accentColor = #384986
$textColor = #626679
$borderColor = #eaecef
$codeBgColor = #151828

h1
    color: #151828
    font-weight: 600;
h1, h2, h3, h4
    color: #151828
    
header
    .sidebar-button
        color: white;
    background: #151828 !important;
    .home-link > .site-name
        color: white;
    .links
        background: #fff0 !important;
        .nav-item:nth-last-child(1)
            background: #384986;
            border-radius: 4px;
            padding: 0px 15px;
        .nav-item
            color: white;
            :hover
                color: #fdfdfdc4;
            .icon
                color: white;

