// showing default values
$accentColor = #7a55a5
$textColor = #443654
$borderColor = #eaecef
$codeBgColor = #2d2833

h1
    color: #7a55a5

$contentWidth = 80%

header
    .sidebar-button
        color: white;
    background: #7a55a5 !important;
    .home-link > .site-name
        color: white;
    .links
        background: #fff0 !important;
        .nav-item
            color: white;
            :hover
                color: #fdfdfdc4;
            .icon
                color: white;

