// showing default values
$accentColor = #384986
$textColor = #1b2341
$borderColor = #eaecef
$codeBgColor = #1b2341

h1
    color: #1b2341
    font-weight: 600;

header
    .sidebar-button
        color: white;
    background: #1b2341 !important;
    .home-link > .site-name
        color: white;
    .links
        background: #fff0 !important;
        .nav-item:nth-last-child(1)
            background: #384986;
            border-radius: 4px;
            padding: 0px 15px;
        .nav-item
            color: white;
            :hover
                color: #fdfdfdc4;
            .icon
                color: white;

